@import 'icon/*.png';
@include all-icon-sprites;

html{
	// height: 100%;
}

h1{
	font-family: $headerfont;
	@include centerme;
	font-size: 5em;
	margin-bottom: 0px;
	padding-top: 10px;
	position: absolute;
	top: -9999em;
	left: -9999em;


}
header{
	background-image: url("../img/headerimg.png");
	background-repeat: no-repeat;
	height: 150px;
	background-position: 50% 45%;
}

body{
	background: url('../img/bokeh.jpg') center center fixed no-repeat;
	background-size: cover;
}

.wrapper{
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	width: 100%;
	max-width: 800px;
	background-color: rgba(255, 255, 255, 1);
}
ul{
	width: 100%;
	@include centerme;
	padding: 0px;
	margin-top: 10px;
	li{
		list-style: none;
		display: inline-block;
		padding: 10px;
		a{
			display: inline-block;
			width: 70px;
			height: 70px;
			// zoom:.5;
			span{
				position: absolute;
				top: -9999em;
				left: -9999em;
				
			}//span
		}//a
	} //li
} //ul

.bodytext{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	@include centerme;
	p{
		font-family: $bodyfont;
		width: 75%;
		// display: inline-block;
		margin-right: auto;
		margin-left: auto;
		text-align: left;

	}
	p:last-of-type{
		padding-bottom: 110px;
	}
	a{
				display: inline-block;
				width: 70px;
				height: 70px;
				@include centerme;
				margin-left: auto;
				margin-right: auto;
				span{
					position: absolute;
					top: -9999em;
					left: -9999em;
					
				}//span
		}//a
}

.social{
	background-color: rgba(255, 255, 255, .8);
	width: 100%;
	position: fixed;
	bottom: 0;
	ul{
		margin-bottom: 0px;
	}
}

@media only screen and (max-width: 480px){
	header{
		background-image: url("../img/headerimgsmall.png");
	}
}